.home {
    @include bgImage(url("../../images/lunden_img.jpg"), 700px, $display: block);

    &__header {
        text-align: center;
        padding-top: 50px;
        color: #fff;
        font-size: 45px;
        margin: 0px 0;
    }

    &__text {
        text-align: center;
        padding-top: 50px;
        color: #fff;
        font-size: 25px;

        &--second {
            text-align: center;
            color: #fff;
            font-size: 25px;
        }
    }

    &__cta {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-top: 25px;

        & .btn {
            font-size: 20px;
        }
    }

    &__intro {
        text-align: center;
        margin: 50px auto;

        h1 {
            margin-bottom: 25px;
        }
    }

    &__posts {
        background-color: lightgray;

        h2 {
          text-align: center;
          padding: 25px 0; 
        }

        .row {
            padding: 25px;
        }

        &--col {
            padding-bottom: 25px;
            .card {
                text-align: center;
                padding: 25px;
                height: 350px;

                &-title {
                    font-size: 32px;
                }

                &-text {
                    font-size: 22px;
                }

                &-footer {
                    margin-top: 100px;
                }
            }
        
            a {
               padding-top: 25px;
            } 
        }
    }

    &__carousel {
        text-align: center;
        margin-top: 25px;
    
        h3 {
            padding-top: 25px;
            padding-bottom: 15px;
        }
    }

    &__qoute {
        text-align: center;
        padding-top: 25px;
            padding-bottom: 15px;
    }
}