.navbarTop__link {
   /* align-items: center; */

    /* a {
        padding-left: 15px;
    } */

    .btn {
        margin-top: 10px;
        width: 100px;
       /*  margin-left: 15px; */
    }
}

.navbar-collapse {
    justify-content: end;
}

.navbar-nav {
    display: flex;

}