.navbarTop {
    border-bottom: 1px solid black;
}

.navbarTop__link {

    .btn {
        margin-top: 10px;
        width: 100px;
    }
}

.navbar-collapse {
    justify-content: end;
}

.navbar-nav {
    display: flex;
    font-size: 14px;

}
