* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post__title {
  background-image: url("../../images/nature.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.post__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.map__title {
  background-image: url("../../images/map.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.map__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.participents__title {
  background-image: url("../../images/boat.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.participents__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.media__title {
  background-image: url("../../images/nature2.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.media__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.foodTable__title {
  background-image: url("../../images/ludo.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.foodTable__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.food__title {
  background-image: url("../../images/food.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.food__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.roomSelect__title {
  background-image: url("../../images/gym.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  max-width: 100%;
  display: flex;
}
.roomSelect__title h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.roomSelect {
  text-align: center;
  padding: 0;
  margin: 0;
}
.roomSelect h1 {
  margin: 50px auto;
}
.roomSelect__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.roomSelect__section--item {
  height: 200px;
  padding: 4px;
  width: 250px;
  border: 1px solid #000;
  color: #fff;
}
.roomSelect__section--draggable {
  padding: 16px;
  margin: 0 0 8px 0;
  min-Height: 50px;
}
.roomSelect__clear {
  margin: 50px 0;
  padding: 15px 25px;
  font-weight: 600;
}
.roomSelect .col-lg-4 {
  min-width: 25%;
}

.mediaDetails {
  text-align: center;
}
.mediaDetails h1 {
  margin: 50px auto;
}
.mediaDetails form input {
  margin: 25px 0;
  padding: 0px;
  height: auto;
}
.mediaDetails form .btn {
  width: 50%;
}

.mediaLibrary {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mediaLibrary h1 {
  text-align: center;
  margin: 50px auto;
}
.mediaLibrary .row {
  justify-content: space-between;
}
.mediaLibrary .card {
  padding: 20px;
  margin: 20px;
  background-color: dodgerblue;
  color: #fff;
}

.foodTable {
  text-align: center;
}
.foodTable h1 {
  margin: 50px auto;
}

.menu {
  text-align: center;
}
.menu h1 {
  margin: 50px auto;
}
.menu input {
  text-align: center;
}
.menu .btn {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.menu .accordion {
  padding: 10px;
}
.menu .accordion-button {
  width: 100%;
  padding: 10px;
}
.menu__actionBtns {
  display: flex;
  justify-content: space-between;
}
.menu__actionBtns .btn {
  padding: 10px;
}

.admPost {
  display: flex;
  flex-direction: column;
}
.admPost h1 {
  text-align: center;
  margin: 50px auto;
}
.admPost .addNew {
  align-self: center;
  margin-bottom: 25px;
}
.admPost__delete {
  margin-left: 20px !important;
}

.admModal .modal-body label {
  margin-top: 25px;
  font-weight: 600;
}

.post {
  text-align: center;
}
.post__cards {
  color: black;
}
.post__cards:hover {
  text-decoration: none;
  width: 101%;
}
.post h1 {
  margin-top: 50px;
}
.post__navigate--btn {
  margin: 25px 0 10px 0;
}
.post .card {
  margin: 25px 0;
}
.post .card:hover {
  box-shadow: 5px 5px 5px 5px lightblue;
  text-decoration: none;
}
.post .card-title {
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
}
.post .card-title:hover {
  text-decoration: none;
}
.post .card-text {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.post .card-footer {
  font-size: 18px;
}

.postDetail {
  margin-top: 50px;
}
.postDetail .message {
  margin: 25px 0;
}
.postDetail .author {
  margin-top: 100px;
}

.comments__btn {
  display: block;
  margin: 25px auto;
}
.comments h3 {
  margin-top: 50px;
}
.comments__actions {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0 10px 0px;
}
.comments__actions--edit {
  margin-right: 20px;
}

.participents h1 {
  margin: 50px auto;
  text-align: center;
}
.participents .addBtn {
  display: block;
  margin: 40px auto;
  text-align: center;
}

.person .form-control {
  margin-bottom: 5px;
}

fieldset {
  border: 1px solid black;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}
fieldset .form-check {
  padding-left: 30px;
  padding-bottom: 2px;
}

legend {
  width: inherit;
  padding: 5px;
}

.allergies {
  display: block;
}
.allergies .form-check {
  padding-left: 20px;
  padding-bottom: 2px;
}

.responsiveTable {
  text-align: center;
}
.responsiveTable thead {
  background-color: lightblue;
}
.responsiveTable tr:nth-of-type(even) {
  background-color: aliceblue;
}
.responsiveTable tr, .responsiveTable td {
  border: 1px solid black;
  padding: 8px;
}
.responsiveTable td .btn {
  margin: 25px auto;
}

.home {
  background-image: url("../../images/lunden_img.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  max-width: 100%;
  display: block;
}
.home h1 {
  font-size: 52px;
  align-self: center;
  color: #fff;
  margin: 0 auto;
}
.home__header {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 45px;
  margin: 0px 0;
}
.home__text {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 25px;
}
.home__text--second {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
.home__cta {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}
.home__cta .btn {
  font-size: 20px;
}
.home__intro {
  text-align: center;
  margin: 50px auto;
}
.home__intro h1 {
  margin-bottom: 25px;
}
.home__posts {
  background-color: lightgray;
}
.home__posts h2 {
  text-align: center;
  padding: 25px 0;
}
.home__posts .row {
  padding: 25px;
}
.home__posts--col {
  padding-bottom: 25px;
}
.home__posts--col .card {
  text-align: center;
  padding: 25px;
  height: 350px;
}
.home__posts--col .card-title {
  font-size: 32px;
}
.home__posts--col .card-text {
  font-size: 22px;
}
.home__posts--col .card-footer {
  margin-top: 100px;
}
.home__posts--col a {
  padding-top: 25px;
}
.home__carousel {
  text-align: center;
  margin-top: 25px;
}
.home__carousel h3 {
  padding-top: 25px;
  padding-bottom: 15px;
}
.home__qoute {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.navbarTop {
  border-bottom: 1px solid black;
}
.navbarTop__title {
  margin: 0;
}

.navbarTop__link .btn {
  margin-top: 10px;
  width: 100px;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav {
  display: flex;
  font-size: 14px;
}

.footer {
  display: flex;
  background-color: lightgrey;
  padding: 20px 0;
  text-align: center;
  align-items: center;
}
.footer__social a img {
  width: 18%;
  height: auto;
  margin: 10px auto;
}

@media screen and (min-width: 768px) {
  .navbarTop__link {
    align-items: center;
  }
  .navbarTop__link a {
    padding-left: 15px;
  }
  .navbarTop__link .btn {
    margin-left: 15px;
    margin-top: 0;
  }
  .navbarTop__title {
    padding: 10px 0 5px 0;
  }
  .home__header {
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 60px;
  }
  .home__text {
    text-align: left;
    padding-left: 50px;
    font-size: 25px;
  }
  .home__text--second {
    text-align: left;
    padding-left: 50px;
    font-size: 25px;
  }
  .home__cta {
    display: block;
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
  }
  .home__cta .btn {
    font-size: 20px;
  }
  .home__intro h1 {
    font-size: 42px;
  }
  .home__intro p {
    font-size: 28px;
  }
  .home__qoute h4 {
    font-size: 28px;
  }
  fieldset {
    display: flex;
  }
  .post {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .post h1 {
    text-align: center;
  }
  .post__navigate {
    align-self: flex-end;
  }
  .comments__btn {
    display: flex;
    margin: 0;
  }
  .mediaDetails {
    text-align: left;
  }
  .mediaDetails h1 {
    text-align: center;
  }
  .mediaDetails form .btn {
    width: 25%;
  }
  .roomSelect__main {
    display: flex;
    flex-direction: row;
  }
  .roomSelect__section--item {
    min-height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .navbarTop__title {
    font-size: 28px;
  }
  .navbar-nav {
    font-size: 20px;
  }
}
/* .media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;

    &__images {
        position: relative;
  padding-top: 66%;

        &img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
} */

/*# sourceMappingURL=styles.css.map */
