* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  text-align: center;
}
.post__cards {
  color: black;
}
.post__cards:hover {
  text-decoration: none;
  width: 101%;
}
.post h1 {
  margin-top: 50px;
}
.post__navigate {
  margin-top: 25px;
}
.post .card {
  margin: 25px 0;
}
.post .card:hover {
  box-shadow: 5px 5px 5px 5px lightblue;
  text-decoration: none;
}
.post .card-title {
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
}
.post .card-title:hover {
  text-decoration: none;
}
.post .card-text {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.post .card-footer {
  font-size: 18px;
}

.postDetail {
  margin-top: 50px;
}
.postDetail .message {
  margin: 25px 0;
}
.postDetail .author {
  margin-top: 100px;
}

.comments__btn {
  display: block;
  margin: 25px auto;
}
.comments h3 {
  margin-top: 50px;
}
.comments__actions {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0 10px 0px;
}
.comments__actions--edit {
  margin-right: 20px;
}

.addBtn {
  display: block;
  margin: 40px auto;
  text-align: center;
}

.person .form-control {
  margin-bottom: 5px;
}

fieldset {
  border: 1px solid black;
  display: block;
  padding: 10px;
}
fieldset .form-check {
  padding-left: 30px;
  padding-bottom: 2px;
}

legend {
  width: inherit;
  padding: 5px;
}

.allergies {
  display: block;
}
.allergies .form-check {
  padding-left: 20px;
  padding-bottom: 2px;
}

.responsiveTable {
  text-align: center;
}
.responsiveTable thead {
  background-color: lightblue;
}
.responsiveTable tr:nth-of-type(even) {
  background-color: aliceblue;
}
.responsiveTable tr, .responsiveTable td {
  border: 1px solid black;
  padding: 8px;
}
.responsiveTable td .btn {
  margin: 25px auto;
}

.home {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: url("../../images/lunden_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  max-width: 100%;
}
.home__header {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 45px;
}
.home__text {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  font-size: 25px;
}
.home__text--second {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
.home__cta {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}
.home__cta .btn {
  font-size: 20px;
}
.home__intro {
  text-align: center;
  margin: 50px auto;
}
.home__intro h1 {
  margin-bottom: 25px;
}
.home__posts {
  background-color: lightgray;
}
.home__posts h3 {
  text-align: center;
  padding: 25px 0;
}
.home__posts .row {
  padding-bottom: 25px;
}
.home__posts--col {
  padding-bottom: 25px;
}
.home__posts--col .card {
  text-align: center;
  padding: 25px;
}
.home__posts--col a {
  margin-top: 25px;
}
.home__carousel {
  text-align: center;
  margin-top: 25px;
}
.home__carousel h3 {
  padding-top: 25px;
  padding-bottom: 15px;
}
.home__qoute {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.navbarTop {
  border-bottom: 1px solid black;
}

.navbarTop__link .btn {
  margin-top: 10px;
  width: 100px;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav {
  display: flex;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .home__header {
    text-align: left;
    padding-left: 50px;
    padding-top: 100px;
    font-size: 60px;
  }
  .home__text {
    text-align: left;
    padding-left: 50px;
    font-size: 25px;
  }
  .home__text--second {
    text-align: left;
    padding-left: 50px;
    font-size: 25px;
  }
  .home__cta {
    display: block;
    text-align: left;
    padding-left: 50px;
    padding-top: 25px;
  }
  .home__cta .btn {
    font-size: 20px;
  }
  .home__intro h1 {
    font-size: 42px;
  }
  .home__intro p {
    font-size: 28px;
  }
  .home__qoute h4 {
    font-size: 28px;
  }
  .navbarTop__link {
    align-items: center;
  }
  .navbarTop__link a {
    padding-left: 15px;
  }
  .navbarTop__link .btn {
    margin-left: 15px;
    margin-top: 0;
  }
  .navbarTop__title {
    padding: 10px 0 5px 0;
  }
  fieldset {
    display: flex;
  }
  .post {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .post h1 {
    text-align: center;
  }
  .post__navigate {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .navbarTop__title {
    font-size: 28px;
  }
  .navbar-nav {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .App {
    max-width: 80%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
